@model _20170703MVC.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>

@Html.Partial("OrderLines", Model.OrderLine.Take(3)) @*Partial使用情境，已經可以明確的取得Model時使用*@

@Html.Action("Index", "OrderLines", new { id = Model.ProductId }) @*若無法Model內取得資料，建議使用Action的方式來取得該頁面的資料*@

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId
    }) |
    @Html.ActionLink("Back to List", "Index")
</p>
