@model IEnumerable<_20170703MVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.DropDownList("ActiveFilter", null, "--請選擇--", new { onchange = "location.search = '?ActiveFilter='+this.options[this.selectedIndex].value" })
    @Html.DropDownList("ProductNameFilter", null, "--請選擇--", new { onchange = "location.search = '?ProductNameFilter='+this.options[this.selectedIndex].value" })
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm(new { action = "BatchUpdate" }))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>

        @{
            var data = Model.ToArray();
        }
        @for (int i = 0; i < data.Length; i++)  
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => data[i].ProductId)
                    @Html.DisplayFor(modelItem => data[i].ProductName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Price)*@
                    @Html.EditorFor(modelItem => data[i].Price)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Active)*@
                    @Html.EditorFor(modelItem => data[i].Active)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Stock)*@
                    @if (data[i].Stock <= 10)
                    {
                        <span style="color:red">@Html.DisplayFor(modelItem => data[i].Stock)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => data[i].Stock)
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
                </td>
            </tr>
        }

    </table>

    <input type="submit" value="批次更新" />
            }